*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 01;
  padding: 09;
}

html {

  hanging-punctuation: first last;
}
body {
  min-height: 200vh;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty;
}
@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}
